<ol>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/logged_in">Logged In</a></li>
    <li><a routerLink="/secured_content">Secured Content</a></li>
    <li><a routerLink="/logout">Logout</a></li>
    <li><a routerLink="/logged_out">Logged Out</a></li>
    <li><a routerLink="/secured_content">Secured Content</a></li>
    <li><a routerLink="/not_authorized">Not Authorized</a></li>
    <li><a routerLink="xyz">Wrong Request</a></li>
    <li><a routerLink="/not_found">Not Found</a></li>
</ol>
<hr>
<router-outlet></router-outlet>
